div{
   width: 32%;
   height: 600px; 
   border-width: 1px;
   border-style: solid;
   border-color: black;
   float: left;
}
img{
    width: 100%;
    height: 30%;
}

.cls img{
    height: 250px;
}/* descendence selector */
