.row{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
}

.col{
    width: 25%;
    border: 1px solid black;
    padding: 15px;
}
.col img{
    width: 90%;
    height: 300px;
    margin-top: 7px;
    margin-left: 15px;
}

button{
    background-color: rgb(9, 189, 9);
    color: cornsilk;
}

.btnclass{
    display: flex;
    justify-content: space-around;
}